{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Medrar TV Archive{% endblock %} 

{% block page_content %}
<div class="page-header">
    <h1>New Artist Form</h1>
</div>
<form class="form form-horizontal" method="post" role="form">    
     {{ wtf.form_field(form.name) }}    
     {{ wtf.form_field(form.name_ar)}}
     {{wtf.form_field(form.categories)}}
     {{wtf.form_field(form.biography)}}
     {{wtf.form_field(form.biography_ar)}}
     {{wtf.form_field(form.website)}}
     
    {{wtf.form_field(form.submit)}}
</form>

{% endblock %}