{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Medrar TV Archive{% endblock %} 

{% block page_content %}
<div class="page-header">
    <h1>New Location Form</h1>
</div>
<form class="form form-horizontal" method="post" role="form">   
    {{ form.hidden_tag() }} 
    {{ wtf.form_field(form.venue_short) }}
    {{ wtf.form_field(form.venue)}}
    {{ wtf.form_field(form.venue_ar)}}
    {{ wtf.form_field(form.description)}}
    {{ wtf.form_field(form.description_ar)}}
    {{ wtf.form_field(form.website)}}
    {{wtf.form_field(form.submit)}}
</form>

{% endblock %}